# Supabase Auth Environment Configuration
EXPO_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_PROJECT_URL
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=YOUR_SUPABASE_PUBLISHABLE_KEY

# Sentry Error Monitoring DSN
EXPO_PUBLIC_SENTRY_DSN=YOUR_SENTRY_DSN_URL
